[submodule "Linux/src/diffpy.srfit"]
	path = Linux/src/diffpy.srfit
	url = https://github.com/diffpy/diffpy.srfit.git
[submodule "Linux/src/diffpy.srreal"]
	path = Linux/src/diffpy.srreal
	url = https://github.com/diffpy/diffpy.srreal.git
[submodule "Linux/src/libdiffpy"]
	path = Linux/src/libdiffpy
	url = https://github.com/diffpy/libdiffpy
[submodule "Linux/src/diffpy.utils"]
	path = Linux/src/diffpy.utils
	url = https://github.com/diffpy/diffpy.utils
[submodule "Linux/src/diffpy.Structure"]
	path = Linux/src/diffpy.Structure
	url = https://github.com/diffpy/diffpy.Structure
[submodule "Linux/src/pyobjcryst"]
	path = Linux/src/pyobjcryst
	url = https://github.com/diffpy/pyobjcryst
[submodule "Linux/src/periodictable"]
	path = Linux/src/periodictable
	url = https://github.com/pkienzle/periodictable.git
[submodule "Linux/src/cxxtest"]
	path = Linux/src/cxxtest
	url = https://github.com/CxxTest/cxxtest.git
